{% extends 'base.html' %}


{% block content %}
<div class="container my-5">
    <div class="content my-5">
        {% for i in result %}
       <span class="bg-light shadow display-4">Search for {{key}}:</span>
        <div class="row my-5 border">
            
                <div class="col-sm-12 col-md-4 my-2 product">
                    <div class="card h-100">
                        <div class="card-img-top">
                            <a href="{{i.get_url}}"><img src="{{i.image.url}}"  alt="{{i.name}}" class="card-img-top"></a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{i.name}}</h4>
                            <p class="card-text small">{{i.title}}</p>
                            <p class=" btn btn-danger fw-bold text-white">$ {{i.price}}</p>
                        </div>
                    </div>
                </div>
           {% empty %}
        </div>
        <div class="error text-center shadow py-3 rounded">
            <span class="my-5 text-danger  display-3">No Match Found <i class="fa-solid   fa-face-rolling-eyes"></i></span>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}